html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    --font-fallback: 'Helvetica', 'Arial', sans-serif;
    --rvv: calc(1rem + 1vh + 1vw);

    --site-green: #1aff00;

    --ship-preview: #1aad0aa8;
    --invalid-hover: rgba(221, 31, 31, 0.731);

    --favicon: #0b57c1;

    --alert-bg: #d5d5d5ce;
    --axis-text: #e3e3e3e7;
    --button-bg: #ffe4c4;
    --ship-bg: #20334e;
    --ship-border: 1px solid #89a8d4;
    --ship-border-radius: 5px;
    --ship-transform: scale(1);
}

@font-face {
    font-family: 'Unbounded';
    src: url('./fonts/unbounded/unbounded.ttf') format("truetype supports variations"),
         url('./fonts/unbounded/unbounded.ttf') format("truetype-variations");
    font-weight: 100 1000;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink {
    to {
        visibility: hidden;
    }
}

.pointer {
    cursor: pointer;
}

html,
body {
    box-sizing: border-box;
    max-width: 100%;
    min-height: 100vh;
}

.hide {
    display: none !important;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgb(2,0,36);
    background: linear-gradient(115deg, rgba(2,0,36,1) 0%, rgba(0,71,171,1) 39%, rgba(150,177,194,1) 100%);
    font-family: 'Unbounded', var(--font-fallback);
    color: white;
    overflow-x: hidden;
}

.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.59);
}

.alert-wrapper {
    z-index: 2;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-window {
    padding: calc(0.5*var(--rvv));
    width: 70vw;
    height: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border: 0.5px solid black;
    border-radius: 2rem;
    background-color: var(--alert-bg);
    color: black;
}

.alert-title {
    font-weight: 500;
}

.new-game-alert,
.end-of-game-alert {
    max-height: 40vw;
}

.new-game-title,
.end-of-game-title {
    font-size: calc(0.45*var(--rvv));
    letter-spacing: 1.5px;
    color: var(--site-green);
    text-shadow: rgba(250, 0, 0, 0.475) 2px 2px;
    animation: blink 1s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
}

.end-of-game-title {
    text-align: center;
}

.start-button {
    font-size: calc(0.43*var(--rvv));
    cursor: pointer;
    padding: 1rem;
    border: 0.5px solid black;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-bg);
}

.button {
    transition: transform 0.1s ease-in-out;
}

.button:hover {
    transform: scale(1.1);
}

header {
    font-size: calc(0.6*var(--rvv));
    height: 8vh;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

header span {
    margin: 0 2vw;
}

.gameboards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8vw;
}

.gameboard {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.board-title {
    font-weight: 400;
    font-size: calc(0.4*var(--rvv));
}

.attack-prompt {
    letter-spacing: 1.5px;
    color: var(--site-green);
    text-shadow: rgba(250, 0, 0, 0.475) 2px 2px;
    animation: blink 1s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
}

.player-one-board-title {
    display: flex;
}

.board-title-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.ship-axis-toggle {
    font-size: 80%;
    color: black;
    /* background-color: var(--button-bg); */
    /* border: 1px solid black; */
    border-radius: 7px;
    padding: 6px;
    margin-left: auto;
    letter-spacing: 1.5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "axis-text axis-text"
        "axis-options axis-options";
}

.axis-text {
    color: var(--axis-text);
    text-align: center;
    grid-area: axis-text;
}

.axis-options {
    grid-area: axis-options;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.axis-option {
    font-weight: 500;
    color: rgb(209, 98, 98);
    cursor: pointer;
    text-shadow: none;
    width: calc(0.5*var(--rvv));
    height: calc(0.5*var(--rvv));
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: 8%;
    transition: transform 0.1s ease-in-out;
}

.x-axis-option {
    grid-area: x-axis;
}

.y-axis-option {
    grid-area: y-axis;
}

.selected-axis {
    transform: scale(1.2);
    color: #129303;
    background: var(--alert-bg);
}

.ship-preview {
    background-color: var(--ship-preview);
}

.invalid-hover {
    cursor: not-allowed;
    background-color: var(--invalid-hover);
}

.board-squares {
    display: grid;
    width: 60vw;
    height: 60vw;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.game-square {
    border: 1px solid rgba(255, 255, 255, 0.665);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7px;
}

.hit-marker {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background: rgb(255,0,0);
    background: linear-gradient(149deg, rgba(255,0,0,1) 0%, rgba(255,81,81,1) 54%, rgba(214,112,112,1) 100%);
}

.miss-marker {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    border: 0.5px solid rgb(190, 190, 190);
    background: rgb(103,111,122);
    background: linear-gradient(149deg, rgba(103,111,122,1) 0%, rgba(52,72,99,1) 54%, rgba(23,49,87,1) 100%);
    transform: var(--ship-transform);
}

.x-1 {
    border-left: none;
}

.y-10 {
    border-top: none;
}

.x-10 {
    border-right: none;
}

.y-1 {
    border-bottom: none;
}

footer {
    margin-top: auto;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(0.35*var(--rvv));
    font-weight: 100;
}

.ssbbd {
    margin-left: 5px;
    text-decoration: none;
    color: white;
}

.ssbbd:hover {
    color: var(--site-green);
    text-shadow: rgba(250, 0, 0, 0.475) 2px 2px;
    font-style: italic;
}

@media screen and (min-width: 600px) {
    .axis-option:hover:not(.selected-axis) {
        transform: scale(1.2);
    }
    .gameboards {
        flex-direction: row;
    }
    .board-squares {
        width: 35vw;
        height: 35vw;
    }
    .alert-window {
        min-width: 300px;
        min-height: 300px;
        max-width: 25vw;
        max-height: 25vw;
    }
    .new-game-alert,
    .end-of-game-alert {
        max-height: 15vw;
    }
    header span:hover {
        color: var(--site-green);
        text-shadow: rgba(250, 0, 0, 0.475) 2px 2px;
    }
}